@page "/auth"
@using UrbanMuse.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="registered-custom-background">
    <div class="registered-container">
        <h3 class="registered-text">AUTHENTICATION</h3>
        <div class="registered-form">
            <input class="registered-form-input" type="text" @bind="loginModel.Email" placeholder="Email"/>
            <input class="registered-form-input" type="password" @bind="loginModel.Password" placeholder="Password"/>
            <button class="registered-form-button" @onclick="AuthUser">ACCEPT</button>
            
            @*@if (IsAuth)
            {
            <button class="registered-form-button" @onclick="ReAuth">log in to a new account</button>
            }*@
            
        </div>
        @Message
    </div>
</div>

@code {
    private readonly string Message = null!;

    private LoginModel loginModel = new LoginModel();

    private async Task AuthUser()
    {
        var success = await AuthService.LoginAsync(loginModel.Email, loginModel.Password);
        if (success)
            NavigationManager.NavigateTo("/");
    }
    
    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }

}