@page "/registered"
@using UrbanMuse.Models
@using UrbanMuse.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="registered-custom-background">
    <div class="registered-container">
        <h3 class="registered-text">REGISTERED</h3>
        <div class="registered-form">
            <input class="registered-form-input" type="text" @bind="registredModel.Name" placeholder="What should call you"/>
            <input class="registered-form-input" type="text" @bind="registredModel.Email" placeholder="Email"/>
            <input class="registered-form-input" type="password" @bind="registredModel.Password" placeholder="Password"/>
            <input class="registered-form-input" type="date" @bind="registredModel.BirthDate" placeholder="Birthday Date"/>
            <button class="registered-form-button" @onclick="Register">ACCEPT</button>
            @*@if (IsAuth)
            {
            <button class="registered-form-button" @onclick="ReAuth">log in to a new account</button>
            }*@
        </div>
        <NavLink class="nav-link" href="auth">have an account?</NavLink>
        @Message
    </div>
</div>





@code {
    private readonly string Message = null!;

    private User registredModel = new();

    private async Task Register()
    {
        registredModel.Role = RoleEnum.User;
        var success = await AuthService.RegisterAsync(registredModel);
        if (success)
        {
            NavigationManager.NavigateTo("/"); //пеерход в профиль
        }
    }
}