@page "/"
@inject NavigationManager nm
<div class="home-custom-background">
    <div class="home-layout-custom">
        <div class="home-burger-menu">
            <div class="home-burger-menu-text">
                HOME
            </div>
            <div class="home-burger-menu-text">
                <button class="home-burger-menu-buttons">2025 COLLECTION</button>
            </div>
            <div class="home-burger-menu-text">
                <button class="home-burger-menu-buttons" @onclick="NavigateToStore">STORE</button>
            </div>
            <div class="home-burger-menu-text">
                CONTACT
            </div>
            <div class="home-burger-menu-text">
                ABOUT
            </div>
        </div>
        <div class="home-order-by">Order By</div>
        <div class="home-account-button">
            <div class="home-login-button">вход</div><div class="home-sign-in-button">регистрация</div>
        </div>
    </div>
    <div class="hodie-group-png"><img src="LocalImage/HodieGroup.png"/></div>
</div>
@code
{
    private void NavigateToStore()
    {
        nm.NavigateTo("/store");
    }
}
