@page "/store"
@using UrbanMuseWeb.Components.CustomLayout
@layout CustomLayout

<div class="home-custom-background">
    <div class="store-title-slogan">ART IN EVERYDAY</div>
    <div class="store-background-catalog"></div>
</div>


@code {
    
}