@page "/store"

<div class="store-header">
    <img class="store-header-img" src="LocalImage/amphora.svg">
    <div class="store-header-logo-text">URBAN MUSE</div>
    <div class="store-header-text-container">
        <div class="store-header-text-home-2025">HOME</div>
        <div class="store-header-text-store">STORE</div>
        <div class="store-header-text-home-2025">2025</div><!--Можно кодом актуальный год поставить или год самой свежей колекции-->
    </div>
    <div class="store-header-button-container">
        <img class="store-header-button-img" src="LocalImage/поиск.svg"/>
        <img class="store-header-button-img" src="LocalImage/корзина.svg"/>
    </div>
</div>
<div class="home-custom-background">
    <div class="store-title-slogan">ART IN EVERYDAY</div>
    <div class="store-background-catalog"></div>
</div>


@code {
    
}