@page "/"
<div class="home-custom-background">
    <div class="home-layout-custom">
        <div class="home-burger-menu">
            <div class="home-burger-menu-text">HOME</div>
            <div class="home-burger-menu-text"><a>2025 COLLECTION</a></div>
            <div class="home-burger-menu-text">STORE</div>
            <div class="home-burger-menu-text">CONTACT</div>
            <div class="home-burger-menu-text">ABOUT</div>
        </div>
        <div class="home-order-by">Order By</div>
        <div class="home-account-button">
            <div class="home-login-button">вход</div><div class="home-sign-in-button">регистрация</div>
        </div>
    </div>
    <div class="hodie-group-png"><img src="LocalImage/HodieGroup.png"/></div>
</div>