html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
.home-custom-background{
    background-image: url('LocalImage/IconAndGroup/header.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    overflow:scroll;
    animation: ani 0.5s forwards;
}
.home-layout-custom{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.home-burger-menu{
    margin-right: auto;
    position: relative; 
    top: 50px; 
    left: 119px; 
    flex-direction: column;
    color: white;
    display: flex;
}
.home-burger-menu-text{
    font-family: 'Gerhaus', sans-serif; 
    font-size: 32px;
    transition: transform 0.3s ease;
}
.home-burger-menu-buttons{
    background-color: transparent;
    border: none; 
    color: white; 
}
.home-burger-menu-text:hover {
    transform: scale(1.1);
}
.home-order-by {
    font-family: 'Nico Moji', sans-serif;
    font-size: 64px;
    color: white;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: -120px;
    cursor: pointer;
}
.home-order-by::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px; 
    background: rgba(255, 255, 255, 0.85); 
    border-radius: 2px; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}
.home-order-by:hover::after {
    transform: scaleX(1);
}
.home-account-button {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: auto;
    position: relative;
    left: -94px;
    margin-top: -100px;
}
.home-login-button{
    font-family: 'Actay Wide', sans-serif;
    font-size: 32px;
    transition: transform 0.3s ease;
    padding-right: 10px
}
.home-sign-in-button{
    font-family: 'Actay Wide', sans-serif;
    font-size: 32px;
    transition: transform 0.3s ease;
    ;padding-left: 10px;
}

.home-login-button:hover{
    transform: scale(1.1);
}
.home-sign-in-button:hover{
    transform: scale(1.1);
}
.hodie-group-png{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    transition: transform 0.3s ease;
}
.store-title-slogan {
    font-family: 'Gerhaus', sans-serif;
    font-size: 128pt;
    padding-top: 350px;
    text-align: center;
    transition: transform 0.3s
}

.store-background-catalog{
    display: flex;
    width: 90%;
    background-color: #ffffff; 
    border-radius: 20px; 
    margin: 0 auto;
    padding-bottom: 50px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}
.store-header{
    position: fixed; 
    top: 0;
    left: 50%;
    width: 90%; 
    transform: translateX(-50.5%); 
    background-color: white;
    z-index: 1000; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center
}
.store-header-img{
    right: 10px;
}
.store-header-logo-text{
    margin: 5px;
    font-family: 'Nico Moji', sans-serif;
    font-size: 26pt;
    color: black;
    display: flex;
    align-items: center;
}
.store-header-text-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.store-header-text-store{
    font-family: 'Gerhaus', sans-serif;
    font-size: 25pt;
    padding: 10px 10px;
    color: black;
}
.store-header-text-home-2025{
    font-family: 'Gerhaus', sans-serif;
    font-size: 23pt;
    color: grey;
    padding: 30px 30px;
}
.store-header-button-container{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.store-header-button-img{
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
}
.store-filter-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 25%; height: 30%;
    margin: 25px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.store-filter-button{
    font-family: 'Gerhaus', sans-serif;
    font-size: 15pt;
    color: black;
    background-color: lightgray;
    border-radius: 20px; border: none;
    max-height: 10%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.store-filter-button-sort{
    text-align: center;
}
.store-filter-button-sort img{
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
}
.dropdown-store-menu{
    font-size: 15pt;
    background-color: white;
    color: black;
    border: none;
    max-height: 8%;
    padding: 10px;
    margin: 4px;
    animation: ani 0.3s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.store-product-card-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-left: 35px;
}
.store-product-card{
    border-radius: 10px;
    min-width: 450px;
    min-height: 450px;
    max-width: 450px;
    max-height: 450px;
    margin: 70px;
}
.store-product-card img {
    width: 95%;
    height: 95%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.store-product-card-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.store-product-card-name{
    font-family: 'Nico Moji', sans-serif;
    font-size: 26pt;
    color: black;
    margin: 5px;
    text-align: right;
}
.store-product-card-price{
    font-family: 'Nico Moji', sans-serif;
    font-size: 23pt;
    color: black;
    margin: 5px;
    text-align: left;
}
.store-product-card-button-add-to-cart{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}
.store-product-card-button-buy{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #404040;
    font-size: 14pt;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
.registered-custom-background
{
    background-image: url('LocalImage/IconAndGroup/header.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registered-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: ani 0.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.registered-form{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
}
.registered-form-input{
    background-color: transparent;
    border: none;
    padding: 10px;
    font-family: 'Gerhaus', sans-serif;
    font-size: 15pt;
}
.registered-form-button{
    padding: 10px;
    background-color: lightgray;
    border-radius: 15px;
}
.registered-text{
    font-family: 'Nico Moji', sans-serif;
    font-size: 40pt;
}
.about-header{
    font-family: 'Nico Moji', sans-serif;
    font-size: 45pt;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
}
.product-demo-header-right {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 20%;
    max-height: 9%;
    border-bottom-right-radius: 20px;
}
.product-demo-header-left{
    z-index: 1000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 20%;
    max-height: 9%;
    border-bottom-left-radius: 20px;
}
.product-demo-header-left button{
    margin: 13px;
    border: none;
    border-radius: 49%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(64, 64, 64, 0);
}
.product-demo-header-left img{
    margin: 5px;
    min-width: 55px;
    min-height: 55px;
    max-width: 56px;
    max-height: 56px;
}   

.product-demo-background{
    background-image: url('LocalImage/IconAndGroup/background-myth.png');
    background-size: cover;
    background-position: center;
    height: 120vh;
}
.product-demo-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.product-demo-card{
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}
.product-demo-card-img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.product-demo-card img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
}
.product-demo-card button{
    border-radius:50%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 100px;
    height: 100px;
}
.product-demo-card-more{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.product-demo-card-more img{
    margin: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}
.product-demo-card-name{
    font-family: 'Nico Moji', sans-serif;
    font-size: 40pt;
    text-align: center;
}
.product-demo-card-price{
    font-family: 'Nico Moji', sans-serif;
    font-size: 30pt;
    text-align: center;
    margin-top: 10px;
}
.product-demo-card-buy-container{
    font-family: 'Nico Moji', sans-serif;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-demo-card-buy{
    font-family: "Actay Light", sans-serif;
   font-size: 20pt;
    border-radius: 10px;
    background: #4e4e4e;
    color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 150px;
}
.product-demo-louer{
    background: white;
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: ani 0.5s forwards;
}
.product-demo-louer-description-upper{
    font-family: 'Actay Light', sans-serif;
    color: black;
    font-size: 30pt;
    text-align: left;
    width: 50%;
    margin: 50px;
}
.product-demo-louer-description{
    font-family: 'Actay Light', sans-serif;
    font-size: 26pt;
    text-align: left;
    width: 50%;
    color: black;
    margin-bottom: 200px;
}
.product-demo-recommendations-carousel
{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    animation: ani 0.5s forwards;
}
.product-demo-recommendations-carousel:hover > .product-demo-recommendations-card:not(:hover){
    filter: blur(3px);
    animation: ani 0.5s;
}
.product-demo-recommendations-card{
    border-radius: 10px;
    scroll-snap-align: center;
    margin: 50px;
    max-width: 300px;
    max-height: 300px;
}
.product-demo-recommendations-card img:hover{
    transform: scale(1.1) translateX(0px);
    animation: ani 0.5s;
}
.product-demo-recommendations-card img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
}
.product-demo-recommendations-text{
    font-family: 'Nico Moji', sans-serif;
    font-size: 20pt;
    color: black;
    margin: 5px;
    text-align: center;
}


::selection{
    background-color: pink;
    color:  black;
}
.test{
    width: 500px;
    height: 500px;
    background-color: white;
}