@using Microsoft.AspNetCore.Components.Authorization
@using UrbanMuse.Services
@*@inherits LayoutComponentBase*@
@inject NavigationManager Navigation
@inject AuthService AuthService

<AuthorizeView>
    <Authorized Context="authContext">
        <div class="user-info">
            Привет, @authContext.User.Identity!.Name!
            <button @onclick="Logout">Выйти</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="user-info">
            <NavLink href="/auth">Войти</NavLink> |
            <NavLink href="/registered">Регистрация</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@*@Body*@

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}