@page "/about"
<div class="home-custom-background">
    <div class="about-container">
        <div class="about-header">
            URBAN MUSE
        </div>
        <h4>КАКОЕ НИБУДЬ ДЛИННОЕ ОПИСАНИЕ </h4>
        <h1>КОТОРОЕ ОБЯЗАТЕЛЬНО КТО НИБУДЬ ПРОЧИТАЕТ И ПОЛНОСТЬЮ ПОДТВЕРДИТ - ФАКТ  ТОГО ЧТО ОН ГОЙ И БЫЛ ПРОГРЕТ МАСТЕРАМИ МАРКЕТИНГА, КОТОРЫЕ ТОЖЕ В СВОЮ ОЧЕРЕДЬ БЫЛИ ПРОГРЕТЫ, И ТРТИЛИ ЫРЕМЯ НА ОБРАЗОВАНИЕ  В СВОЕЙ НИШЕВОЙ СФЕРЕ.</h1>
    </div>
</div>

@code {
    
}