@page "/"
<div class="home-custom-background">
    <div class="home-layout-custom">
        <div class="home-burger-menu">
            <div class="home-burger-menu-text">
                HOME
            </div>
            <div class="home-burger-menu-text">
                <button class="home-burger-menu-buttons">@_actualYear COLLECTION</button>
            </div>
            <div class="home-burger-menu-text">
                <NavLink class="nav-link" href="store">STORE</NavLink>
            </div>
            <div class="home-burger-menu-text">
                <NavLink class="nav-link" href="">CONTACT</NavLink>
            </div>
            <div class="home-burger-menu-text">
                ABOUT
            </div>
        </div>
        <div class="home-order-by">Order By</div>
        <div class="home-account-button">
            <div class="home-login-button">
                вход
            </div>
            <div class="home-sign-in-button">
                <NavLink class="nav-link" href="registered">регистрация</NavLink>
            </div>
        </div>
    </div>
    <div class="hodie-group-png"><img src="LocalImage/HodieGroup.png"/></div>
</div>
@code
{
    private readonly int _actualYear = DateTime.Now.Year;
}
    
