@page "/product/{id:int}"
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@inject ModelContext ef
<div class="product-demo">
    <img class="store-header-img" src="LocalImage/IconAndGroup/amphora.svg">
    <NavLink class="nav-link" href="about">
        <div class="store-header-logo-text">
            URBAN MUSE
        </div>
    </NavLink>
</div>



<h3>@_product.Name</h3>


@code {
    [Parameter] public int id { get; set; }
    private Product _product = new Product();

    protected override void OnInitialized()
    {
        LoadProduct();
    }

    private void LoadProduct()
    {
        _product = ef.Products.FirstOrDefault(p => p.Id == id);
    }

}