@page "/registered"
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@inject NavigationManager NavigationManager
@inject ModelContext ef
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@rendermode InteractiveServer

<div class="registered-custom-background">
    <div class="registered-container">
        <h3 class="registered-text">REGISTERED</h3>
        <div class="registered-form">
            <input class="registered-form-input" type="text" @bind="_client.Name" placeholder="What should call you"/>
            <input class="registered-form-input" type="text" @bind="_client.Email" placeholder="Email"/>
            <input class="registered-form-input" type="password" @bind="_client.Password" placeholder="Password"/>
            <input class="registered-form-input" type="date" @bind="_client.BirthDate" placeholder="Birthday Date"/>
            <button class="registered-form-button" @onclick="Register">ACCEPT</button>
        </div>
        <NavLink class="nav-link" href="auth">have an account?</NavLink>
        @Msg
    </div>
</div>





@code {
    public Client _client = new Client();
    private string Msg;
    private bool IsAuth;

    protected override async void OnInitialized()
    {
        IsAuth = await LocalStorage.GetItemAsync<bool>("IsAuth");
    }

    public async Task Register()
    {
        if (IsAuth)
        {
            Msg = "You have successfully logged in";
            await Task.Delay(1000);
            NavigationManager.NavigateTo("");
        }
        if (ef.Clients.FirstOrDefault(c => c.Email == _client.Email) != null)
        {
            Msg = "This email is already busy.";
        }
        else
        {
            try
            {
                _client.Role = RoleEnum.Guest;
                Msg = "Success";
                ef.Add(_client); ef.SaveChanges();
                await Task.Delay(1000);
                NavigationManager.NavigateTo("");
            }
            catch (Exception e)
            {
                Msg = e.Message;
            }
        }
        
    }
}