@page "/cart"
@rendermode InteractiveServer
@using UrbanMuse.DataBase
@inject ModelContext Ef
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<div class="cart-background">
    
</div>



@code {
    
}