@page "/AddProduct"
@using Microsoft.AspNetCore.Authorization
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@inject ModelContext ef
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

@if (IsAuth && role == RoleEnum.Admin)
{
<div class="store-header">
    <img class="store-header-img" src="LocalImage/IconAndGroup/amphora.svg">
    <div class="store-header-logo-text">
        URBAN MUSE
    </div>
    <div class="store-header-text-container">
        <div class="store-header-text-home-2025">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                HOME
            </NavLink>
        </div>
        <div class="store-header-text-store">
            <NavLink class="nav-link" href="store">STORE</NavLink>
        </div>
    </div>
</div>

<div class="registered-custom-background">
    <div class="registered-container" >
        <h1>Создание нового продукта</h1>
        <a>Название</a>
        <input type="text" @bind="_product.Name"/>
        <a>Стоимость?</a>
        <input type="number" @bind="_product.Price"/>
        <a>Описание</a>
        <input tupe="text" @bind="_product.Description"/>
        <a>Путь к изображению</a>
        <input type="text" @bind="imgPath"/>
        <button @onclick="AddimgPathList">Добавить фото</button>
        <a>Тип</a>
        <select class="dropdown-store-menu" @bind="SelectedType">
            @foreach (ProductEnumType productEnumType in Enum.GetValues(typeof(ProductEnumType)))
            {
            <option value="@productEnumType">@productEnumType</option>
            }
        </select>

        <div style="display: flex; flex-wrap: wrap; margin: 20px;">
            <button @onclick="SumbitProduct">Добавить продукт</button>
            <button @onclick="ClearForm">Отчистить форму</button>
        </div>
        <a>@_msg</a>
    </div>
</div> 
}
else
{
    <div class="registered-custom-background">
        <h5>@_msg</h5>
    </div>
}


@code {
    Product _product = new();
    private string? _msg = String.Empty;
    private string imgPath;
    private List<string> imgPathList = new List<string>();
    private string? SelectedType = Convert.ToString(ProductEnumType.Thing);
    
    private bool IsAuth = false;
    private int Id;
    private RoleEnum role;
    private Client _client = new Client();

    protected override async void OnInitialized()
    {
        try
        {
            IsAuth = await LocalStorage.GetItemAsync<bool>("IsAuth");
            Id = await LocalStorage.GetItemAsync<int>("clientId");
            _client = ef.Clients.FirstOrDefault(c => c.Id == Id);
            role = _client.Role;
        }
        catch (Exception e)
        {
            _msg = e.Message;
            IsAuth = false;
        }
    }

    public void AddimgPathList()
    {
        imgPathList.Add(imgPath);
        imgPath = "LocalImage/notFound.png";
    }
    
    public void SumbitProduct()
    {
        try
        {
            _product.CreatedAt = DateTime.Now;
            _product.Type = SelectedType;
            _product.Image = imgPathList;
            ef.Add(_product);
            ef.SaveChanges();
            _msg = "You have successfully add product";
        }
        catch (Exception e)
        {
            _msg = Convert.ToString(e);
        }
    }

    public void ClearForm()
    {
        _product = new Product();
        SelectedType = Convert.ToString(ProductEnumType.Thing);
        imgPath = String.Empty;
        imgPathList = new List<string>();
        _msg = string.Empty;
        StateHasChanged();
    }
}