@page "/AddProduct"
@using Microsoft.AspNetCore.Authorization
@using UrbanMuse.DataBase
@using UrbanMuse.Models
@inject ModelContext ef
@rendermode InteractiveServer


<div class="store-header">
    <img class="store-header-img" src="LocalImage/amphora.svg">
    <div class="store-header-logo-text">
        URBAN MUSE
    </div>
    <div class="store-header-text-container">
        <div class="store-header-text-home-2025">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                HOME
            </NavLink>
        </div>
        <div class="store-header-text-store">
            STORE
        </div>
    </div>
</div>

<div class="registered-custom-background">
<EditForm class="registered-container"  Model="_product" OnValidSubmit="@SumbitProduct">
    <h1>Создание нового продукта</h1>
    <a>Название</a>
    <input type="text" @bind="_product.Name"/>
    <a>Стоимость?</a>
    <input type="number" @bind="_product.Price"/>
    <a>Описание</a>
    <input tupe="text" @bind="_product.Description"/>
    <button type="submit">Добавить продукт</button>
    <button @onclick="ClearForm">Отчистить форму</button>
</EditForm>

</div>
@code {
    Product _product = new Product();

    public void SumbitProduct()
    {
        _product.CreatedAt = DateTime.Now;
        _product.Image = string.Empty;
        ef.Add(_product);
        ef.SaveChanges();
    }

    public void ClearForm()
    {
        _product = new Product();
    }
}